body{
    font-family: 'poppins',sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.flex-container{
    display: flex;
    padding: 5%;
   
}
.top-banner{
    background-image: url(photo/1000.jpg);
    background-repeat: no-repeat;
    width: auto;

}

.half-width{
    width: 50%;
}
img{
    width:80%;
}
.link{
    text-decoration: none;
    padding: 3px 50px;
    background-color: aqua;
    border-radius: 10px;
    background-image: -moz-linear-gradient(blue,blueviolet);
    color: azure;
    font-weight: 700;
}
.row{
    display: flex;
    padding: 3%;
}
.col-7 img{
    width: 80%;
    border-radius: 70%;
}
.here{
    text-decoration: none;
    padding: 3px 50px;
    background-color: aqua;
    border-radius: 10px;
    background-image: -moz-linear-gradient(blue,blueviolet);
    color: azure;
    font-weight: 700;
}
.in{
    text-align: center;
    padding: 3%;
}
.parent{
    display: flex;
    padding: 0 10%;
   
}
.chaild{
    box-shadow: 10px 5px 40px black;
    margin: 2%;
    padding: 40px;
    border-radius: 0 20px 60px 0;
    border-left: 5px solid;
    border-image: linear-gradient(blue,cyan) 0 100%;
}
footer{
    text-align: center;
    background-color: blue;
}